* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #222;
    font-size: 28px;
}

.password-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

#password {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

#copyBtn {
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 1s;
}

#copyBtn:hover {
    background: #555;
    transform: scale(1.02);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.options label {
    color: #333;
    font-size: 16px;
}

#length {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.options input[type="checkbox"]{
    margin-right: 8px;
}

#generateBtn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s;
}

#generateBtn:hover {
    background: #1d4ed8;
    transform: scale(1.02);
}